body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  width: 260px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  padding: 10px;
}

.header h2 {
  margin: 0;
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
}

#backBtn,
#notifBtn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#notifBtn svg {
  height: 20px;
  width: 20px;
}

#notifBtn:hover svg {
  opacity: 0.8;
}

.hidden {
  display: none;
}

#mainView,
#notifView {
  padding: 15px;
}

label {
  display: block;
  margin-top: 10px;
}

button#saveBtn {
  margin-top: 15px;
  width: 100%;
}
