input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  color: white;
}

.wavy::before {
  content: '';
  position: absolute;
  top: -40px; /* adjust as needed */
  left: 0;
  width: 100%;
  height: 80px; /* wave height */
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg"><path fill="%232563eb" fill-opacity="1" d="M0,192L80,186.7C160,181,320,171,480,149.3C640,128,800,96,960,117.3C1120,139,1280,213,1360,250.7L1440,288L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>')
    no-repeat top center;
  background-size: cover;
  z-index: -1;
}
